CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_LINUX_4_14=y
CONFIG_NODEJS_ICU_NONE=y
CONFIG_PACKAGE_UnblockNeteaseMusic=y
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_kmod-phy-realtek=y
# CONFIG_PACKAGE_kmod-tun is not set
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libhttp-parser=y
# CONFIG_PACKAGE_libminiupnpc is not set
# CONFIG_PACKAGE_libnatpmp is not set
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libuv=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_luci-app-xlnetacc is not set
# CONFIG_PACKAGE_luci-app-zerotier is not set
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_srelay=y
# CONFIG_PACKAGE_zerotier is not set

